<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin</title>
    <!--/*/ <th:block th:include="fragments/headerinc::head"></th:block> /*/-->
</head>
<body>

<!--/*/ <th:block th:include="fragments/header::header"></th:block> /*/-->
<div class="container work-space">
    <form autocomplete="off" th:action="@{/admin}"
          th:object="${school}" method="post" class="form-horizontal"
          role="form">
        <div class="form-group">
            <input type="text" th:field="*{name}" placeholder="Name"
                   class="form-control"/>
            <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                   class="validation-message"></label>
        </div>
        <input type="submit" class="btn btn-outline-primary" value="Submit"/>
    </form>

    <form autocomplete="off" th:action="@{/admin/teacher}" method="post" class="form-horizontal" role="form">
    <div class="form-group">
        <input type="text"  placeholder="Ім'я" name="firstName" class="form-control"/>
    </div>

    <div class="form-group">
        <input type="text" name = "lastName" placeholder="Фамілія" class="form-control"/>
    </div>
    <div class="form-group">
        <input type="text" name = "subject" placeholder="Предмет" class="form-control"/>
    </div>

    <div class="form-group">
        <label>Оберіть школу:</label>
        <select name="school" class="form-control">
            <option th:each="existedSchool : ${schools}" th:text="${existedSchool.name}" th:value="${existedSchool.name}"></option>
        </select>
    </div>
    <div class="form-group">
        <textarea rows="3" name="description" class="form-control" placeholder="Опис"></textarea>
    </div>
    <input type="submit" class="btn btn-outline-primary" value="Submit"/>
</form>
</div>






<p th:text="${successMessage}">Success Message</p>
</body>
</html>