<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Schools</title>
    <!--/*/ <th:block th:include="fragments/headerinc::head"></th:block> /*/-->
</head>
<body>
<!--/*/ <th:block th:include="fragments/header::header"></th:block> /*/-->

<div class="container-fluid work-space">
    <div class="row">
        <div id="subjects" class="col-lg-12 work-space clear">
            <div th:each="school : ${schools}">
                <form th:action="@{/school}">
                    <button type="submit" class="subject">
                        <h3 th:text="${school.name}">School Name</h3>
                    </button>
                    <input type="hidden" name="schoolName" th:value="${school.name}"/>
                </form>
            </div>
        </div>

    </div>
</div>
</body>
</html>