<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Teachers</title>
    <!--/*/ <th:block th:include="fragments/headerinc::head"></th:block> /*/-->
</head>
<body>

<!--/*/ <th:block th:include="fragments/header::header"></th:block> /*/-->

<div class="container-fluid work-space">
    <div class="row">
        <div id="teachers" class="col-lg-12 work-space clear">
            <div th:each="teacher : ${teachers}">
                <form th:action="@{/teachers_room}">
                    <button type="submit" class="teacher">
                        <h3 th:text="${teacher.firstName} +' '+ ${teacher.lastName}"></h3>
                    </button>
                    <input type="hidden" name="id" th:value="${teacher.id}"/>
                </form>
            </div>
        </div>

    </div>
</div>

</body>
</html>