<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Teachers Room</title>
    <!--/*/ <th:block th:include="fragments/headerinc::head"></th:block> /*/-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-slider.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/magic-check.css}"/>
    <script th:src="@{/js/bootstrap-slider.js}"></script>
</head>
<body>

<!--/*/ <th:block th:include="fragments/header::header"></th:block> /*/-->

<div class="container-fluid teacher-info work-space">
    <h1 th:text="${teacher.firstName} + ' ' + ${teacher.lastName}">Ім'я Прізвище</h1>
    <h3 th:text="${teacher.subject}"></h3>
    <p th:text="${teacher.description}">Опис Вчителя</p>
</div>
<div class="container-fluid teacher-stats">
    <div class="row">
        <div class="col-3 marks">
            <h1>Оцінка: <b th:text="${average == 'NaN'} ? 'Цього викладача ще ніхто не прокоментуав, тому оцінки немає' : ${average}"></b></h1>
            <h1>Складність: <b th:text="${averageDifficulty == 'NaN'} ? 'Цього викладача ще ніхто не прокоментуав, тому складності предмета немає' : ${averageDifficulty}"></b></h1>
        </div>
        <div class="col-9 tags">
                <span th:each="tag : ${countedTags}" th:text="${tag.key}+' ' + '('+${tag.value}+')'">Tag </span>
        </div>
    </div>

</div>
<div class="container-fluid comments">
    <div th:each="old_comment : ${comments}" class="comment">
        <div class="row">
            <div class="col-3 marks_comment">
                <p><span th:text="${old_comment.rate}">5</span> Mark</p>
                <p><span th:text="${old_comment.difficult}">4</span> Difficult</p>
                <p><span th:text="${old_comment.mark}">A</span> For curse</p>
            </div>
            <div class="col-9 main_comment">
                <span th:each="tag : ${old_comment.tags}" th:text="${tag}"></span>
                <p th:text="${old_comment.text}">Comment text</p>
            </div>
        </div>
    </div>
</div>

<div th:switch="${hasntCommented}">
    <div th:case="${false}">
        <div class="container-fluid add_comment">
            <div class="container-fluid">
                <div class="container">
                    <form th:action="@{/comment}" th:object="${comment}" method="post">
                        <div class="form-group row">
                            <span id="ex18-label-1" class="hidden">Оцінка викладача</span>
                            <input id="ex19" type="text"
                                   data-provide="slider"
                                   data-slider-ticks="[1, 2, 3,4,5]"
                                   data-slider-ticks-labels='["1", "2", "3","4","5"]'
                                   data-slider-min="1"
                                   data-slider-max="5"
                                   data-slider-step="1"
                                   data-slider-value="3"
                                   data-slider-tooltip="hide" th:field="*{rate}"/>
                        </div>
                        <div class="form-group row ">
                            <span id="ex18-label-1" class="hidden ">Рівень складності</span>
                            <div class="slider">
                                <input id="ex19" type="text"
                                       data-provide="slider"
                                       data-slider-ticks="[1, 2, 3,4,5]"
                                       data-slider-ticks-labels='["1", "2", "3","4","5"]'
                                       data-slider-min="1"
                                       data-slider-max="5"
                                       data-slider-step="1"
                                       data-slider-value="3"
                                       data-slider-tooltip="hide" th:field="*{difficult}"/>
                            </div>
                        </div>
                        <div class="form-group row quest1">
                            <p>Оберете викладача знову?</p>
                            <input class="magic-radio" type="radio" id="radio1" th:field="*{wouldTake}"
                                   th:value="${true}"/>
                            <label for="radio1">
                                ТАК
                            </label>
                            <input class="magic-radio" type="radio" id="radio2" th:field="*{wouldTake}"
                                   th:value="${false}"/>
                            <label for="radio2">
                                НІ
                            </label>
                        </div>
                        <div class="form-group row">
                            <p>Оцінка, яку ви отримали</p>
                            <div class="form-group col-md-4">
                                <select th:field="*{mark}" id="inputState" class="form-control">
                                    <option value="0" selected="selected">Оберіть</option>
                                    <option value="A">A</option>
                                    <option value="B">B</option>
                                    <option value="C">C</option>
                                    <option value="D">D</option>
                                    <option value="E">E</option>
                                    <option value="F">F</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" th:field="*{tags}" id="inlineCheckbox1"
                                       value="Адекватність"/>
                                <label class="form-check-label" for="inlineCheckbox1">Адекватність</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" th:field="*{tags}" id="inlineCheckbox2"
                                       value="Не адекватність"/>
                                <label class="form-check-label" for="inlineCheckbox2">Не адекватність</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" th:field="*{tags}" id="inlineCheckbox3"
                                       value="Добре пояснює"/>
                                <label class="form-check-label" for="inlineCheckbox3">Добре пояснює </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" th:field="*{tags}" id="inlineCheckbox4"
                                       value="Погано пояснює"/>
                                <label class="form-check-label" for="inlineCheckbox4">Погано пояснює </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" th:field="*{tags}" id="inlineCheckbox5"
                                       value="Добре знає матеріал"/>
                                <label class="form-check-label" for="inlineCheckbox5">Добре знає матеріал </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" th:field="*{tags}" id="inlineCheckbox6"
                                       value="Погано знає матеріал"/>
                                <label class="form-check-label" for="inlineCheckbox6">Погано знає матеріал </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" th:field="*{tags}" id="inlineCheckbox7"
                                       value="Відповідальний"/>
                                <label class="form-check-label" for="inlineCheckbox7">Відповідальний </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" th:field="*{tags}" id="inlineCheckbox8"
                                       value="Безвідповідальний"/>
                                <label class="form-check-label" for="inlineCheckbox8">Безвідповідальний </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="comment">Comment:</label>
                            <textarea th:field="*{text}" class="form-control" rows="5" id="comment"></textarea>
                        </div>
                        <input type="hidden" name="id" th:value="${teacher.id}"/>
                        <input type="hidden" name="studentUsername" th:value="${#httpServletRequest.remoteUser}"/>
                        <button type="submit" class="btn btn-success">ВІДПРАВИТИ</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div th:case="${true}">
        <p class="alert alert-success">Ви вже коментували цього викладача!"</p>
    </div>
</div>


</body>
</html>