@import url('https://fonts.googleapis.com/css?family=Open+Sans');
*{
    font-family: 'Open Sans', sans-serif !important;
}
.header{
    color: #fff !important;
    height: 6vh;
    background-color: #00bff3;
}
.header form button{
    color: #999;
}
.header form label{
    color: #ffffff;
}
.work-space{
    margin-top: 7vh;
}
.marks{
    background-color: #eee;
}
.tags{
    padding-top: 10px;
    background-color: #f9F9F9;
}
.tags span{
    background-color: #555;
    color: #fff;
    padding: 5px;
    margin: 5px !important;
}
.tags span c{
    background-color: #fff;
    color: #555;
    font-weight: bold;
    border: 1px #555 solid;
    padding: 5px;
}
.comment{
    margin-top: 2%;
    /*border-bottom: 1px solid #333;*/
    /*border-top: 1px solid #333;*/
    padding: 15px;
}
.marks_comment{
    padding: 25px;
    background-color: #eee;
}
.marks_comment p{
    /*background-color: red;*/
    padding: 15px;
    margin-bottom: 10px;
}

.marks_comment p span{
    background-color: #fff;
    padding: 15px;
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 20px;
}
.main_comment{
    background-color: red;
    padding-top: 10px;
    background-color: #f9F9F9;
}
.main_comment span{
    background-color: #555;
    color: #fff;
    padding: 7px;
    margin: 5px !important;
}
.main_comment p{
    margin-top: 15px;
}

